@model IEnumerable<CCMovieDatabase.Models.Movie>

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

    <div class="d-flex flex-wrap justify-content-center gap-4 m-4">
        @foreach (var item in Model){

                <div class="card" style="width: 18rem;">
                    <img src="@item.ThumbnailURL" class="card-img-top" />

                    <div class="card-body">
                        <h5 class="card-title"> @item.Title</h5>
                        <p class="card-text">Ok riddle me this Batman... How can I get actors here?</p>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">
                            Movie Details
                        </a>
                    </div>
                </div>
                }
    
  
